<!-- <h1>Burger</h1>

<h3>Save the tasks you need to get to later</h3>

<ul>
  {{#each tasks}}
  	<li>
  	   <p>ID: {{this.id}}</p>
       <p>Task: {{this.task}}</p>
  	</li>
  {{/each}}
</ul>

<form action="/{{this.id}}?_method= PUT" method="POST">
	<input type+"hidden" burger="..." value="...">

	<textarea type="text" name="task"></textarea>

	<button type="submit">Submit</button>
</form>
 -->

<h1>Burger</h1>

<h3> What kind of Burger would you like?</h3>

<ul>
  {{#each burger}}
    {{#unless this.devoured}}
      <li>
        {{this.name}}

        <form action="/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="devoured" value="true">
          <button type="submit">Devour!</button>
        </form>

        {{> burger/delete-burger}}
      </li>
    {{/unless}}
  {{/each}}
</ul>

<h2>burgers that are devoured!</h2>

<ul>
  {{#each burger}}
    {{#if this.devoured}}
      <li>
        {{this.name}}

        <form action="/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="devoured" value="false">
          <button type="submit">Yumm!</button>
        </form>

        {{> burger/delete-burger}}
      </li>
    {{/if}}
  {{/each}}
</ul>

<h2>Add a burger</h2>
<form class="create-update-form" action="/" method="POST">

  <div class="form-group">
    <label for="bu">burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="dev">Devoured?</label><br>
    <input type="burger" name="devoured" value="1" checked> Devoured!<br>
    <input type="burger" name="devoured" value="0"> Awake
  </div>

  <button type="submit">Add burger</button>
</form>